body {
    background: #030203;
    color: #F2EFF5;
    font-family: Acme;
    font-size: 40pt;
}

.stack_div {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    background: #6106B1;
    border-radius: 15px;
    align-items: center;
}

.stack_div img:not(:last-child) {
    margin-right: 20px;
}

.about_me_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.about_me__photo img {
    margin-right: 20px;
    width: 250px;
    height: 350px;
    position: relative;
    transform: translateX(-13px) translateY(-13px);
    overflow: hidden;
    filter: drop-shadow(7px 7px 19px #000000);
    user-select: none;
}

.about_me__photo::before {
    content: "";
    position: absolute;
    transform: translateX(4px) translateY(4px);
    width: 250px;
    height: 350px;
    background: #6106B1;
    z-index: -1;
    user-select: none;
}

.about_me__text {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.purple_font {
    color: #6106B1;
}

.about_me__text__hovered {
    color: #030203;
    position: relative;
}

.about_me__text__hovered::before {
    background: #6106B1;
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}

.about_me__text__unhovered {
    color: #6106B1;
}

.about_me__text__unhovered::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff0000;
}

.floatingMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    z-index: 2;
}

.floatingMenu div:not(:last-child) {
    margin-right: 20px;
}

.activeMenu {
    background: #8236C4;
    border-radius: 90px;
    width: 70px;
    height: 70px;
}

.notActiveMenu {
    background: #461173;
    border-radius: 90px;
    width: 60px;
    height: 60px;
}