body {
    display: flex;
    flex-direction: column;
    background: #030203;
    color: #F2EFF5;
    font-family: acme;
}

.aboutMeCard {
    padding: 8%;
    display: flex;
    flex-direction: row;
}

.mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myStack {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.myStackText {
    display: inline-block;
}

.typedText {
    font-size: xx-large;
    border-right: .15em solid #6106B1;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    user-select: none;
    animation: 
        typing 2s steps(40, end) forwards,
        blink .8s infinite;
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #6106B1; }
  }

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

.myStackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px 4px 12px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    background: #6106B1;
    user-select: none;
    margin-right: 20px;
}

.myStackContainer img {
    width: 50px;
    height: 50px;
}

.myStackContainer div:not(:last-child) {
    margin-right: 20px;
}

.greetingText {
    font-size: xxx-large;
    user-select: none;
}

.not_hovered_purple_text {
    color: #6106B1;
}

.myPhoto {
    width: 350px;
    height: 450px;
    object-fit: cover;
    position: relative;
    bottom: 13px;
    right: 13px;
    filter: drop-shadow(7px 7px 13px #10001e);
}

.photoContainer {
    position: relative;
    margin-right: 33px;
}

.photoContainer::before {
    content: "";
    width: 350px;
    height: 450px;
    background: #6106B1;
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: -1;
}